<!DOCTYPE html>
{% load static %}
{% load text_filters %}
{% load render_bundle from webpack_loader %}
<html lang="ru" theme="dark">
<head>
    <title>{% block title %}Вышка.Клуб ✖️‍{% endblock %}</title>
    {% block fonts %}
        {% include "common/fonts.html" %}
    {% endblock %}
    {% block meta %}
        {% include "common/meta.html" %}
    {% endblock %}
    {% block og_tags %}
        {% include "common/og.html" %}
    {% endblock %}
    {% include "common/favicon.html" %}
    {% render_bundle "main" "css" %}
</head>
<body>

{% block body %}
    <main class="landing">
        <div class="landing-block landing-block-limited">
            <img src="{% static "images/logo/logo-1024.png" %}" alt="">
            <div class="landing-title">
                <h1>Вышка.Клуб</h1>
                <p>Мне есть что сказать</p>
                <a href="{% url "login" %}" class="button button-black">Войти</a>
            </div>
        </div>

        <div class="landing-block landing-block-narrow" id="why">
            <div>
                <h2>ЗАЧЕМ</h2>

                <p>
                    Клуб — это сообщество студентов, которые хотят найти для себя новые увлечения, обрести новых друзей и получить крутые эмоции.
                </p>

                <p>
                    Студенческие годы - возможность попробовать себя в чём-то новом и не бояться провала.
                    Клуб же нацелен на то, чтобы давать как можно больше таких возможностей.
                    Время записать рэп альбом, создать свой бренд, освоить мастерство кинорежиссуры или заняться греблей.
                    Во всём этом вам поможет клуб.
                </p>
            </div>
        </div>

        <div class="landing-block landing-block-limited" id="features">
            <h2 class="landing-block-title">Что внутри?</h2>
        </div>

        <div class="landing-block landing-block-limited">
            <div class="landing-block-40">
                <h3 class="feature-title">Движухи, фан и взаимопомощь</h3>

                <ul class="feature-list">
                    <li>Митапы и сходки в офлайне</li>
                    <li>Коучинг и менторство между участниками Клуба</li>
                    <li>У нас запрещена анонимность и действует жесткая модерация. Так мы сохраняем здоровое коммьюнити без говна</li>
                    <li>Подробнее о правилах можно почитать в разделе <a href="{% url "docs" "about" %}" target="_blank">О Клубе</a></li>
                </ul>
            </div>

            <div class="landing-block-60">
                <img src="{% static "images/landing/activities.png" %}" class="feature-image" alt="chats">
            </div>
        </div>

        <div class="landing-block landing-block-limited landing-block-map-title" id="map">
            <h3 class="feature-title">Недушное коммьюнити</h3>
        </div>

        <div class="landing-block landing-block-map">
            <div class="map-background" style="background-image: url('{% static "images/landing/map.jpg" %}');">
            </div>

            <div class="map-container">
                <div class="map-sidebar hide-on-iphone">
                    <div class="map-sidebar-item">📍 В моем городе</div>
                    <div class="map-sidebar-item map-sidebar-item-selected">🎉 Открыты к общению</div>
                    <div class="map-sidebar-item">🤟 Ищут друзей</div>
                    <div class="map-sidebar-item">🤪️ Любят движуху</div>
                    <div class="map-sidebar-header">Путешествия</div>
                    <div class="map-sidebar-item map-sidebar-item-selected">🍻 Можем выпить по пиву</div>
                    <div class="map-sidebar-item map-sidebar-item-selected">🏢 Могу показать офис</div>
                    <div class="map-sidebar-item">🗼 Могу показать город</div>
                    <div class="map-sidebar-item">🛌 Могу вписать на ночь</div>
                    <div class="map-sidebar-header">Профессиональное</div>
                    <div class="map-sidebar-item">💼 Могу зареферить в компанию</div>
                    <div class="map-sidebar-item">🔎 Ищу работу</div>
                </div>

                <div class="map-counters">
                    <div class="map-counter">{{ stats.users }} {{ stats.users | rupluralize:"человек,человека,человек" }}</div>
                    <div class="map-counter">{{ stats.countries }} {{ stats.countries | rupluralize:"страна,страны,стран"  }}</div>
                </div>
            </div>
        </div>

        <div class="landing-block landing-block-narrow" id="join">
            <div>
                <h2 class="landing-block-title">Как вступить?</h2>

                <img src="{% static "images/landing/dolor2.png" %}" alt="$1" class="landing-dolor">

                <p>
                    Членство в Клубе бесплатное!
                </p>

                <p>
                    Чтобы вступить нужно рассказать о себе Клубу, на регистрацию
                    уйдёт дольше 10 секунд, но так клуб поддерживает здоровое сообщество, в котором легко найти единомышленников.
                </p>

                <br>

                <p>
                    <a href="{% url "join" %}" class="button button-black button-big">Вступить в Клуб</a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="footer-left" style="text-align: center; font-size: 130%;">
            Работает на движке <a href="https://vas3k.club" target="_blank">vas3k.club</a>
            <a href="{% url "docs" "contact" %}">Связаться с нами</a><br><br>
        </div>
    </footer>
{% endblock %}

{% include "common/js.html" %}
{% block js %}{% endblock %}
</body>
</html>
