{% extends "layout.html" %}

{% block title %}
    {% if mode == "edit" %}
        Редактируем скидку студентов — {{ block.super }}
    {% else %}
        Новая скидка студентам — {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="content compose">
        {% if mode == "create" %}
            <div class="content-header">Для студентов</div>
        {% elif mode == "edit" %}
            <div class="content-header">Меняем правила для студентов</div>
        {% else %}
            <div class="content-header">Студак</div>
        {% endif %}

        <div class="content-description content-description-left">
            <p>
                🌟 Приносите сюда всё, что вам самим мега интересно <strong>на это мероприятие \ на сайте \ в этом месте действует скидка для студентов</strong>!
            </p>

            <p>
                😎 <strong>Напишите кратко о чём событие</strong>, чтобы другим было понятно чем оно привлекательно. Пост не будет одобрен, если описание состоит из одного предложения
            </p>

            <p>
                ⁉️ <strong>Задайте вопрос для обсуждения или поделитесь что зацепило.</strong> Вы ведь не просто так решили показать это на тысячи человек.
            </p>

            <p>
                🚨 <strong>Нельзя: рекламу, уже не актуальные скидки, заманиловку и срачи.</strong> Ссылку на мероприятие бесплатное для студентов вышки — можно. Если вы организуете движ сами - тоже, но только лучше что-то масштабное.
            </p>
        </div>

        <div class="block compose-text">
            <form action="." method="post" class="compose-form" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row form-row-center">
                    {{ form.topic }}
                    {% if form.topic.errors %}<span class="form-row-errors">{{ form.topic.errors }}</span>{% endif %}
                </div>

                <div class="form-row compose-form-title">
                    {{ form.url }}
                    {% if form.url.errors %}<span class="form-row-errors">{{ form.url.errors }}</span>{% endif %}
                </div>

                <div class="form-row compose-form-title">
                    {{ form.title }}
                    {% if form.title.errors %}<span class="form-row-errors">{{ form.title.errors }}</span>{% endif %}
                </div>

                <div class="form-row compose-form-text">
                    <label for="{{ form.text.id_for_label }}" class="form-label">{{ form.text.label }}</label>
                    {{ form.text }}
                    {% if form.title.errors %}<span class="compose-form-errors">{{ form.title.errors }}</span>{% endif %}
                    <span class="form-row-help form-row-help-wide">Можно использовать <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">Markdown</a></span>
                </div>

                {% include "posts/compose/elements/post_settings.html" %}

                {% if form.non_field_errors %}
                    <div class="form-row form-row-center">
                        {% for error in form.non_field_errors %}
                            <span class="form-row-errors">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                {% include "posts/compose/elements/save_buttons.html" %}
            </form>
        </div>
    </div>
{% endblock %}
