{% extends "layout.html" %}
{% load static %}
{% load text_filters %}

{% block title %}
    Поделиться - {{ block.super }}
{% endblock %}

{% block content %}
<div class="content profile">
    <div class="block profile-intro profile-header">
        <div>
            <h2>🔗 Поделись ссылкой на Клуб, используя QR-код</h2>
            <h3>
                Это поможет нам объединить Вышку в единое сообщество!
            </h3>
        </div>
    </div>
    <div class="block profile-intro profile-header">
        <img src="{% static "images/qr/qr-code-big.png" %}" alt="">
    </div>

</div>

{% endblock %}
