{% extends "layout.html" %}

{% block menu %}{% endblock %}

{% block content %}
    <div class="content join">
        <div class="join-title"><a href="{% url "index" %}">Welcome to the Club Birdy 🐦</a></div>
        <div class="join-description">
            В нашем гнезде найдётся место для каждого Вышкинца! Тем не менее, анонимных пташек мы тут не приветсвуем, поэтому мы просим всех новичков заполнить профиль и честно рассказать о себе.
            <br><br>
            Если вам не подходят наши <a href="{% url "docs" "about" %}" target="_blank">правила</a>, вы боитесь деанона или прилетели «просто почитать посты» рекомендуем сэкономить нам всем время и пойти в <a href="https://vk.ru/" rel="nofollow">ВК</a>, там тоже есть немало Вышкинских сообществ.
        </div>
        <form action="{% url "email_auth" %}" method="post">
        <div class="join-subtitle">Для регистрации введи свою почту вышки</div>
        <div class="block join-email">
            <div class="join-email-form">
            <label>Вот сюда 👉&nbsp;&nbsp;<input type="email" name="email" placeholder="name@anything.hse.ru" required></label>
            <!-- <label>Вот сюда 👉&nbsp;&nbsp;<input type="email" name="email" value="{{ email|default:"" }}" placeholder="name@anything.hse.ru" class="login-email" style="min-width: 400px;" required></label> -->
            </div>
        </div>
        {% if goto %}<input type="hidden" name="goto" value="{{ goto }}">{% endif %}
        <label class="join-consent"><input type="checkbox" name="iconsent" value="true" required> &larr; я даю согласие на обработку <a href="{% url "docs" "privacy_policy" %}" target="_blank">персональных данных</a>, соглашаюсь с <a href="{% url "docs" "about" %}" target="_blank">правилами</a> Клуба и помню, что мне придётся написать интро и пройти модерацию</label>
        <button type="submit" class="button join-button" style="min-width: 200px;">🤙 Зарегистрироваться</button>
        </form>
        </div>
    </div>
{% endblock %}
